###############################################################################
# Ignore these files
###############################################################################

.*
*.log

###############################################################################
# Ignore these directories
###############################################################################

node_modules
.git


###############################################################################
# Accept these files
###############################################################################

!.editorconfig
