###############################################################################
# Ignore these directories
###############################################################################

logs
node_modules/


###############################################################################
# Ignore these files
###############################################################################

*.log
*~
.*


###############################################################################
# Accept these files
###############################################################################

!.babelrc
!.editorconfig
!.gitignore
!.nvmrc
