###############################################################################
# Ignore these directories
###############################################################################

coverage
logs
node_modules


###############################################################################
# Ignore these files
###############################################################################

*.log
*~
.*


###############################################################################
# Accept these files
###############################################################################

!.babelrc
!.editorconfig
!.eslintignore
!.eslintrc.js
!.gitignore
!.nvmrc
