###############################################################################
# Ignore these directories
###############################################################################

coverage
database
dist
logs
node_modules


###############################################################################
# Ignore these files
###############################################################################

*.log
*~
.*


###############################################################################
# Accept these files
###############################################################################

!.babelrc
!.dockerignore
!.editorconfig
!.eslintignore
!.eslintrc.js
!.gitignore
!.gitlab-ci.yml
!.nvmrc
